      body {
        margin: 0px;
        font-family: Lekton;
        background-color: #FFFbe6;
      }
      
      h1 {
      	color:#FFFbe6;
        text-align: center;
      }
      
      button {
      	font-family: Lekton;
      }

      .gridContainer {
        display: grid;
        grid-template-columns: 1fr 4fr 1fr;
        grid-template-rows: 1fr 6fr 1fr 10vh;
        height: 110vh;
      }

      .first-section {
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 2;
        background-color: #356859;
        box-shadow: 0px 2px 2px 0px #a5a3a382;
      }

      .footer {
        grid-column-start: 1;
        grid-column-end: 6;
        grid-row-start: 4;
        grid-row-end: 5;
        background-color: rgba(241,245, 223, 1);
      }

      .sidenav {
        grid-row-start: 2;
        grid-row-end: 4;
        background-color: #b9e4c9;
        padding: 5px;
      }

      .left {
        grid-column-start: 1;
        grid-column-end: 2;
        box-shadow: 2px 0px 2px 0px #a5a3a382;
      }

      .right {
        grid-column-start: 3;
        grid-column-end: 4;
        box-shadow: -2px 0px 2px 0px #a5a3a382;
      }

      .mainContent {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 4;
        padding: 10px;
        overflow-y: scroll;
      }
      
      a {
      	display: block;
      }
      
      @media only screen and (max-width: 600px) {
        body {
          background-color: #FFFbe6;
        }
        
        .mainContent {
           grid-row-end: 3;
           grid-column-start: 1;
           grid-column-end: 4;
        }
        
        .sidenav {
          grid-column-start: 1;
          grid-column-end: 4;
          grid-row-start: 3;
          grid-row-end: 4;
          background-color: rgba(241,245, 223, 1);
        }
        
        .right {
        	display: none;
        }
      }
